@using ShoppingCart_CascadingP_Demo.Data;
<h3>CartItems</h3>
// CartItems.razor (Child Component)
<ul>
    @foreach (var item in Items)
    {
        <li>@item.Name - $@item.Price</li>
    }
</ul>

@code {
    [Parameter]
    public List<CartItem> Items { get; set; }
}
