
@page "/Binding5"
<input type="text" class="form-control" @bind="President" @bind:event="oninput"/> 
<div class="p-2 mb-2">President is: @President</div>
 
@code {
    private string President { get; set; }
}