@page "/buttonpropogate"
<h3 class="bg-secondary text-white">@Message1</h3>
<h3 class="bg-secondary text-white">@Message2</h3>
<div class="form-group" @onclick="@(() => Message1="Hello Google")">
    Show Message:
    <button class="form-control" @onclick="@(() => Message2="Hello Microsoft")" @onclick:stopPropagation="true">Show Message</button>
</div>
 
@code {
    private string Message1 { get; set; }
    private string Message2 { get; set; }
}