
@page "/buttonform"
<h3 class="bg-secondary text-white">@Counter</h3>
<form action="/Jexample" method="get">
    <div class="form-group">
        <label>Counter:</label>
        <button class="form-control" @onclick="IncreaseCounter" @onclick:preventDefault="true">Increase Counter</button>
    </div>
</form>
 
@code {
    private int Counter { get; set; }
 
    private void IncreaseCounter(MouseEventArgs e)
    {
        Counter++;
    }
}