@inherits LayoutComponentBase

<PageTitle>BlazorServerApp</PageTitle>

<div>
    <h1 class="text-danger text-center bg-info">Department Management System</h1>
    
    <nav class="text-md-center">
        <a href="">Home</a>
        <a href="CheckOut">Check Out</a>
        <a href="Dept">Department</a>
       
    </nav>
    <hr />
    <div class="container">
        @Body
    </div>
    

</div>
